
*.dll
*.pdb
*.dll
*.pdb
*.xml
*.json
*.cache
*.editorconfig
*.props
.DS_Store
Group6FinalProject/.vs
Group6FinalProject/Group6FinalProject/obj/Debug/net7.0/Group6FinalProject.csproj.FileListAbsolute.txt
