@model Group_6_Final_Project.Models.TransactionDetail

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>TransactionDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberofTickets" class="control-label"></label>
                <input asp-for="NumberofTickets" class="form-control" />
                <span asp-validation-for="NumberofTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatSelection" class="control-label"></label>
                <select asp-for="SeatSelection" class="form-control"></select>
                <span asp-validation-for="SeatSelection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviePrice" class="control-label"></label>
                <input asp-for="MoviePrice" class="form-control" />
                <span asp-validation-for="MoviePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control"></select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionID" class="control-label"></label>
                <select asp-for="TransactionID" class ="form-control" asp-items="ViewBag.TransactionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleID" class="control-label"></label>
                <select asp-for="ScheduleID" class ="form-control" asp-items="ViewBag.ScheduleID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
