@model Group_6_Final_Project.Models.TransactionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create Movie Order</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!--Pre-filled Movie Title-->
            <p>
                <div class="form-group">
                    <label asp-for="TransactionMovieID" class="control-label" style="font-weight: bold;">Movie Title:</label>
                    <p class="form-control-static">@ViewBag.SelectedMovieTitle</p>
                    <!-- Hidden field to store the selected movie ID -->
                    <input type="hidden" asp-for="TransactionMovieID" value="@ViewData["SelectedMovieID"]" />
                </div>
            </p>

            <!--Pre-filled Schedule Time-->
            <p>
                <div class="form-group">
                    <label asp-for="TransactionScheduleID" class="control-label" style="font-weight: bold;">Movie Schedule Time:</label>
                    <p class="form-control-static">@ViewBag.SelectedScheduleTime</p>
                    <!-- Hidden field to store the selected movie ID -->
                    <input type="hidden" asp-for="TransactionScheduleID" value="@ViewData["SelectedScheduleID"]" />
                </div>
            </p>

            <!-- Hidden field to store the selected schedule ID -->
            <input type="hidden" asp-for="TransactionScheduleID" />

            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Choose Seats" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>